:root{
    --displayColor: rgb(38, 223, 38);
    --displayBackground: #000000;
}

/* orbitron-regular - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/orbitron-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Orbitron Regular'), local('Orbitron-Regular'),
       url('./assets/fonts/orbitron-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/orbitron-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/orbitron-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/orbitron-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/orbitron-v9-latin-regular.svg#Orbitron') format('svg'); /* Legacy iOS */
}

html, body {
    background: grey;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.widget{
    height: 100%;
    flex: 1;
    background: var(--displayBackground);
}

.left{
    margin-right: .5%;
}

.right{
    margin-left: .5%;
}

.row{
    flex: 1;
    width: 98%;
    padding: 1%;

    display: flex;
    flex-direction: row;
}

/*clock css styling*/
#clock {
    min-width: 650px;
    min-height: 250px;
    text-align: center;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--displayColor);
    background: var(--displayBackground);
}

#cDisplay{
    color: var(--displayColor);
    font-size: 100px;
    font-family: Orbitron;
    letter-spacing: 7px;
    display: inline;  
}

#clkAmPm{
    
    font-size: 50px;
}

#cAlarm{
    position: relative;
    
    font-size: 25px;
    font-family: Orbitron;
    border: 1px var(--displayColor) solid;
    border-radius: 15px;
    width: 90%;
    margin: 0% 5%;
    margin-top: 10px;
}

#aHeader{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 10px;
    background-color: var(--displayBackground);
}

#aDisplay{
    display: inline;
}

#alrmAmPm{
    font-size: 15px;
}

#aBtn{
    border: none;
    color: var(--displayBackground);
    background: red;
    font-size: 30px;

    outline:0;
    width: 100%;
    border-radius: 15px;
}

#armBtn{
    background: var(--displayBackground);
    color: var(--displayColor); 
    border: 1px var(--displayColor) solid;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    outline: 0;
    padding: 5px;
    width: 30%;
    margin: 0% 5%;
    float: left;
}

.aModify{
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.amPm{
    display: inline;
}

.cButton{
    border: none;
    background: var(--displayColor);
    color: var(--displayBackground);
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 7.5%;
    outline:0;
    border-radius: 100%;
}

.cBtnLeft{
    border-radius: 15px 2px 2px 15px;
}

.cBtnRight{
    border-radius: 2px 15px 15px 2px;

}
